<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite" parallel="none">
	<listeners>
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>
	<test name="Smoke Test">
		<classes>
			<class name="testCase.LoginTest" />
			<class name="testCase.HomepageTest" />
			<class name="testCase.Normal_Clip" />
			<class name="testCase.VipTest" />
			<class name="testCase.SearchTestProduct" />
			<class name="testCase.VipFlow" />
			<class name="testCase.CartTest" />
			<class name="testCase.PaymentTest" />
			<class name="testCase.OrderConfirmationPage" />
		</classes>
	</test>
</suite>

